@import "tailwindcss";

:root {
  --primary-red: #ce2626;
  --primary-dark: #09122c;
  --primary-white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-white);
  color: var(--primary-dark);
  font-family: Inter, sans-serif;
}
